  /*--************************************************************************************************
  * project: Genome browse for chromosome-12                                                         *
  * file:main.css                                                                                    *
  * Date: 08/05/2018                                                                                 *
  * version:v1.0                                                                                     *
  * Function : This script generate styling for index.html, comtactus.html and results pages generat *
  * through cgi-script result.py and get_result.py                                                   *
  * Licence:See the LICENSE.txt for licensing information                                            *
  * Author: Abdulvahab Kharadi                                                                       *
  * ***********************************************************************************************-*/
  body{
  color:#660099;
  text-align: center;
  background-size:cover;
  background-color: rgba(255,255,255,0.7); /*help to correctly set param of BackgroundImage*/
  background-blend-mode: lighten;
  background-image: url('http://localhost/chrom12/frontend/src/img/chromo1.jpg');
  background-repeat: no-repeat;
  margin-bottom:50px;
  }
  * {
   box-sizing: border-box;
  }
  *:before,
  *:after {
   box-sizing: border-box;
  }
  html,
  body {
   height: 100%;
   position: relative;
  }
  .main-container {
   min-height: 100vh; /* will cover the 100% of viewport */
   overflow: hidden;
   display: block;
   position: relative;
   padding-bottom: 100px; /* height of  footer */
  }

  .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   background-color: lightgrey;
   color:red;
   text-align: left;
   font-size: 12px;
   height: 50px;
   padding: 10px;
  }
  button {
  align-text:center;
  width:10%;
  height:30px;
  background-color:magenta;
  font-size:20px;
  text-align:center;
  }
  button:hover{
    background-color: green;
  }
  header {
  background:lightblue;
  padding:10px;
  }
  nav {
  background:lightpink;
  text-align:center;
  height:30px;
  padding:10px;
  }
  input {
  width:70%;
  height:30px;
  font-size:20px;
  text-align:center
  }
